# ref: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# CODEOWNERS are currently members of the Azure Upstream and Azure FastTrack team 
# We welcome all contributors and those wishing to become maintainers to this project
* @phillipgibson @fmustaf @garvinmsft @seenu433 @squillace @ssarwa @lachie83
