@page "{id:int}"
@model Contoso.Expenses.Web.Pages.Expenses.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Expense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Expense.ExpenseId" />
            <div class="form-group">
                <label asp-for="Expense.Purpose" class="control-label"></label>
                <input asp-for="Expense.Purpose" class="form-control" />
                <span asp-validation-for="Expense.Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expense.Date" class="control-label"></label>
                <input asp-for="Expense.Date" class="form-control" />
                <span asp-validation-for="Expense.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expense.CostCenter" class="control-label"></label>
                <input asp-for="Expense.CostCenter" class="form-control" />
                <span asp-validation-for="Expense.CostCenter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expense.Amount" class="control-label"></label>
                <input asp-for="Expense.Amount" class="form-control" />
                <span asp-validation-for="Expense.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expense.ApproverEmail" class="control-label"></label>
                <input asp-for="Expense.ApproverEmail" class="form-control" />
                <span asp-validation-for="Expense.ApproverEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expense.SubmitterEmail" class="control-label"></label>
                <input asp-for="Expense.SubmitterEmail" class="form-control" />
                <span asp-validation-for="Expense.SubmitterEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Expense.Receipt" /> @Html.DisplayNameFor(model => model.Expense.Receipt)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
